/* CSS Document */
@font-face {
	src: url("../../fonts/Avenir Next Condensed.ttc");
	font-family: 'Avenir Next Condensed';
}

@font-face {
	src: url("../../fonts/Great Sejagad.ttf");
	font-family: 'Great Sejagad';
}

body {
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.container {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;

}

nav {
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	height: 137px;
	background-color: #fdb94b;
	width: 100%;	
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	font-weight: bold;
}

.logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
	margin: 0;
	margin-left: 50px;
	margin-top: 30px;
	padding: 0;
	width: 100%;
	
	color: #1a134a;
	
	font-family: 'Avenir Next Condensed', sans-serif;
	font-size: 50px;
	font-weight: bolder;	
}

.types {
	margin: 0;
	margin-right: -425px;
	margin-top: -65px;
	padding: 0;
	width: 100%;
	
	float: right;
	color: #ffffff;
	text-align: center;
	
	font-family: 'Avenir Next Condensed', sans-serif;
	font-weight: normal;
	font-size: 50px;	
}

.routes {
	margin: 0;
	margin-right: -625px;
	margin-top: -67px;
	padding: 0;
	width: 100%;
	
	float: right;
	color: #1a134a;
	text-align: center;
	
	font-family: 'Avenir Next Condensed', sans-serif;
	font-size: 50px;
	font-weight: 100px;
}

.typesfirstPanel {
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
	height: 550px;

	background-image: url("../TypesImages/DripSprings.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.typessecondPanel {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 550px;
	
	background-color: #ffffff;
	
}

.typesthirdPanel {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 550px;
	
	background-color: #1a134a;
}

.typesfourthPanel {
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 550px;

	background-color: #ffffff;
}

.h1 {
	margin: 0;
	margin-left: -450px;
	margin-top: 75px;
	padding: 0;

	text-align: center;
	font-family: 'Avenir Next Condensed', sans-serif;
	font-size: 125px;
	font-weight: bold;
	color: #1a134a;
}

.h2 {
	margin: 0;
	margin-top: 75px;
	margin-left: 50px;
	padding: 0;
	width: 100%;
	
	font-family: 'Great Sejagad', sans-serif;
	font-size: 125px;
	font-weight: lighter;
	color: #f47937;
}

.h3 {
	margin: 0;
	margin-left: -450px;
	padding: 0;

	text-align: center;
	font-family: 'Avenir Next Condensed', sans-serif;
	font-size: 125px;
	font-weight: bold;
	color: #1a134a;
}

.p {
	margin: 0;
	margin-top: 25px;
	margin-left: 50px;
	padding: 0;
	width: 50%;

	text-align: center;
	font-family: 'Avenir Next Condensed', sans-serif;
	font-size: 35px;
	font-weight: normal;
	color: #1a134a;
}

.free {
	margin: 0;
	padding: 0;
	
	width: 500px;
	height: 500px;
	
	float: right;
	margin-right: 30px;
}

.solo {
	margin: 0;
	margin-left: 15px;
	padding: 0;
	
	width: 500px;
	height: 500px;
	
	float: left;
}

.bold {
	margin: 0;
	padding: 0;
	
	width: 500px;
	height: 500px;
	
	float: right;
	margin-right: 30px;
}

.soloHead {
	width: 30%;
	float: right;
}

.soloPara {
	width: 50%;
	float: right;
	margin-right: 30px;
	color: #ffffff;
}

.typescarabiner {
	width: 600px;
	height: 600px;
	
	margin: 0;
	margin-left: 800px;
	margin-top: -450px;
	padding: 0;
}

.footer {
	margin: 0 auto;
	padding: 0;
	
	overflow: hidden;
	height: 100px;
	background-color: #fdb94b;
	
	width: 100%;
}

.copyright {
	font-family: 'Avenir Next Condensed', sans-serif;
	font-size: 30px;
	font-weight: lighter;
	color: #1a134a;
	
	margin-left: 350px;
	text-align: center;
}

