/* CSS Document */

@font-face {
	src: url("../fonts/Avenir Next Condensed.ttc");
	font-family: 'Avenir Next Condensed';
}

@font-face {
	src: url("../fonts/Great Sejagad.otf");
	font-family: 'Great Sejagad';
}

html, body {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	display: flex;
}

.container {
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

nav {
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	height: 137px;
	background-color: #fdb94b;
	width: 100%;
}

.logo {
	float: left;	
	margin: 0;
	margin-left: 50px;
	margin-top: 30px;
	padding: 0;
	width: 100%;
	font-family: 'Avenir Next Condensed', sans-serif;
	font-size: 50px;
	font-weight: bold;	
}

.types {
	margin: 0;
	margin-top: -65px;
	padding: 0;
	width: 50%;
	clear: both;
	float: right;
	text-align: center;
	font-family: 'Avenir Next Condensed', sans-serif;
	font-weight: normal;
	font-size: 50px;	
}

.routes {
	margin: 0;
	margin-top: -67px;
	padding: 0;
	width: 20%;
	clear: both;
	float: right;
	text-align: center;
	font-family: 'Avenir Next Condensed', sans-serif;
	font-size: 50px;
	font-weight: normal;
}

.firstPanel {
	margin: 0 auto;
	
	overflow: hidden;
	width: 100%;
	height: 700px;
	
	
	background-image: url("../HomepageImages/OrganMountain.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.climb {
	font-family: 'Great Sejagad', sans-serif;
	font-size: 350px;
	color: #ffffff;
	
	margin: 0;
	margin-top: 20px;
	text-align: center;	
}

.newMexico {
	font-family: 'Avenir Next Condensed', sans-serif;
	font-size: 250px;
	font-weight: bolder;
	color: #1a134a;
	
	margin: 0;
	margin-top: -100px;
	text-align: center;	
}


.secondPanel {
	margin: 0 auto;
	
	overflow: hidden;
	width: 100%;
	height: 650px;
	background-color: #bde4e9;	
}

.carabiner {
	width: 700px;
	height: 700px;
	
	margin: 0;
	margin-top: -40px;
	margin-left: -80px;	
}

.spHead1 {
	font-family: 'Avenir Next Condensed', sans-serif;
	font-size: 140px;
	font-weight: bold;
	color: #ffffff;

	margin: 0;
	margin-left: 700px;
	margin-top: -575px;

	justify-content: center;
}

.spHead2 {
	font-family: 'Avenir Next Condensed', sans-serif;
	font-size: 140px;
	font-weight: bold;
	color: #ffffff;
	
	margin: 0;
	margin-left: 450px;
	margin-top: -50px;

	text-align: center;
}

.spSub {
	font-family: 'Great Sejagad', sans-serif;
	font-size: 130px;
	color: #1a134a;
	
	margin: 0;
	margin-right: -600px;
	margin-top: -30px;
	text-align: center;
}

.thirdPanel {
	margin: 0 auto;
	
	overflow: hidden;
	width: 100%;
	height: 800px;
	
	display: flex;
}

.shelf {
	width: 625px;
	height: 800px;
	
	display: flex;
	
	margin: 0;
}


.find {
	font-family: 'Great Sejagad', sans-serif;
	font-size: 135px;
	color: #1a134a;

	margin: 0;
	margin-right: -650px;
	margin-top: -725px;
	
	text-align: center;
}

.city {
	font-family: 'Avenir Next Condensed', sans-serif;
	font-size: 100px;
	font-weight: normal;
	color: #f47937;
	
	margin: 0;
	margin-left : 650px;
	margin-top: 20px;
}

input {
	width: 700px;
	height: 125px;
	border: 3px solid #1a134a;
	font-family: 'Avenir Next Condensed', sans-serif;
	font-size: 70px;
	font-weight: lighter;
	font-style: italic; 
	color: #f47937;
	margin: 0;
	margin-left : 660px;
	margin-top: 10px;
	padding-left: 25px;
}

/*.typeBox {
	width: 700px;
	height: 125px;
	border: 2px solid #1a134a;

	margin: 0;
	margin-left : 660px;
	margin-top: 10px;
	text-align: center;	
}

.typeCity {
	font-family: 'Avenir Next Condensed', sans-serif;
	font-size: 70px;
	font-weight: lighter;
	font-style: italic; 
	color: #f47937;
	
	margin: 0;
	margin-right: 350px;
	margin-top: 10px;

	text-align: center;	
}*/

.go {
	font-family: 'Great Sejagad', sans-serif;
	font-size: 125px;
	color: #1a134a;
	
	margin: 0;
	margin-left : 550px;
	margin-top: 60px;
	
	text-align: center;
}

.typesfirstPanel {
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
	height: 550px;

	background-image: url("../TypesImages/DripSprings.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.typessecondPanel {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 550px;
	
	background-color: #ffffff;
	
}

.typesthirdPanel {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 550px;
	
	background-color: #1a134a;
}

.typesfourthPanel {
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 550px;

	background-color: #ffffff;
}

.h1 {
	margin: 0;
	margin-left: -450px;
	margin-top: 75px;
	padding: 0;

	text-align: center;
	font-family: 'Avenir Next Condensed', sans-serif;
	font-size: 125px;
	font-weight: bold;
	color: #1a134a;
}

.h2 {
	margin: 0;
	margin-top: 75px;
	margin-left: 50px;
	padding: 0;
	width: 100%;
	
	font-family: 'Great Sejagad', sans-serif;
	font-size: 125px;
	font-weight: lighter;
	color: #f47937;
}

.h3 {
	margin: 0;
	margin-left: -450px;
	padding: 0;

	text-align: center;
	font-family: 'Avenir Next Condensed', sans-serif;
	font-size: 125px;
	font-weight: bold;
	color: #1a134a;
}

.p {
	margin: 0;
	margin-top: 25px;
	margin-left: 50px;
	padding: 0;
	width: 50%;

	text-align: center;
	font-family: 'Avenir Next Condensed', sans-serif;
	font-size: 35px;
	font-weight: normal;
	color: #1a134a;
}

.free {
	margin: 0;
	padding: 0;
	
	width: 500px;
	height: 500px;
	
	float: right;
	margin-right: 30px;
}

.solo {
	margin: 0;
	margin-left: 15px;
	padding: 0;
	
	width: 500px;
	height: 500px;
	
	float: left;
}

.bold {
	margin: 0;
	padding: 0;
	
	width: 500px;
	height: 500px;
	
	float: right;
	margin-right: 30px;
}

.soloHead {
	width: 30%;
	float: right;
	
	font-family: 'Great Sejagad', sans-serif;
	font-size: 125px;
	font-weight: lighter;
	color: #f47937;
}

.soloPara {
	width: 50%;
	float: right;
	margin-right: 30px;
	margin-top: -75px;
	color: #ffffff;
	
	text-align: center;
	font-family: 'Avenir Next Condensed', sans-serif;
	font-size: 35px;
	font-weight: normal;
}

.typescarabiner {
	width: 600px;
	height: 600px;
	
	margin: 0;
	margin-left: 800px;
	margin-top: -450px;
	padding: 0;
}

.together {
	display: inline-flex;
}

/* Style the buttons */
.regionBtn {
	border: none;
	outline: none;
	width: 100%;
	height: 75px;
	float: right;
	background-color: #1a134a;
	cursor: pointer;
	font-family: 'Avenir Next Condensed';
	font-size: 55px;
	font-weight: bolder;
	color: #ffffff;
	margin: 0 auto;
	text-align: justify;
	align-items: flex-end;
	justify-content: flex-end;
}

.map {
	width: 350px;
	height: 304px;
	clear: both;
	float: left;
	
}

.filterDiv {
	float: left;
	width: 100%;
	background-color: #f1f1f1;
	line-height: 50px;
	margin: 2px;
  	display: none; /* Hidden by default */
}
	
.routeHead {
	font-family: 'Great Sejagad';
	font-weight: lighter;
	font-size: 75px;
	color: #f47937;
	margin-left: 25px;
}

.rDescript {
	font-family: 'Avenir Next Condensed';
	font-size: 25px;
	color: #1a134a;
	margin-top: -30px;
	margin-left: 50px;
}

/* The "show" class is added to the filtered elements */
.show {
  	display: block;
}

/* Add a light grey background on mouse-over */
.regionBtn:hover {
  	background-color: #bde4e9;
}

/* Add a dark background to the active button */
.regionBtn.active {
  	background-color: #666;
  	color: white;
}

.footer {
	margin: 0 auto;
	padding: 0;
	
	overflow: hidden;
	height: 100px;
	background-color: #fdb94b;
	
	width: 100%;
}

.copyright {
	font-family: 'Avenir Next Condensed', sans-serif;
	font-size: 30px;
	font-weight: lighter;
	color: #1a134a;
	
	text-align: center;
}

a {
	color: #1a134a;
}

a:active { 
	font-style: italic;
	color: #ffffff;
}

a:hover {
	font-style: italic;
}






