/* CSS Document */

html {
	
	margin: 0 auto;
	padding: 0;
	
}

body {
	
	margin: 0;
	
	
}

.container {
	
	margin: 0 auto;
	width: 100%;
	
}

.nav {
	
	overflow: hidden;
	height: 137px;
	background-color: #fdb94b;
	
	width: 1920px;
	max-height: 1920px;
	min-width: 1300px;
		
}

.logo {
	
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
	margin: 0;
	margin-left: 50px;
	margin-top: 30px;
	padding: 0;
	width: 100%;
	
	color: #1a134a;
	
	font-family: 'Avenir Next Condensed';
	font-size: 50px;
	
}

.types {
	
	margin: 0;
	margin-right: -575px;
	margin-top: -65px;
	padding: 0;
	width: 100%;
	
	float: right;
	color: #1a134a;
	text-align: center;
	
	font-family: 'Avenir Next Condensed';
	font-size: 50px;
	
}

.routes {
	
	margin: 0;
	margin-right: -850px;
	margin-top: -67px;
	padding: 0;
	width: 100%;
	
	float: right;
	color: #1a134a;
	text-align: center;
	
	font-family: 'Avenir Next Condensed';
	font-size: 50px;
	
}

.firstPanel {
	
	overflow: hidden;
	width: 1920px;
	max-height: 1920px;
	min-width: 1300px;
	height: 974px;
	
	display: block;
	flex-direction: column-reverse;
	
	
	background-image: url("../HomepageImages/OrganMountain.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: .8;
	
}

.climb {
	
	font-family: 'Great Sejagad';
	font-size: 350px;
	color: #000;
	
	display: flex;
	justify-content: center;
	
	
}

.newMexico {
	
	font-family: 'Avenir Next Condensed';
	font-size: 280px;
	font-weight: bolder;
	color: #bde4e8;
	
	text-align-last: right;
	align-items: center;
	
}

/*.fpImage {
	
	position: relative;
	
}

.fpText {
	
	position: absolute;
	
}

.organ {
	
	width: 1920px;
	height: 974px;
	
	position: relative;
	margin-top: -50px;
	
} */

/*
.secondPanel {
	
	width: 1920px;
	height: 713px;
	
}

.spImage {
	
	width: 1920px;
	height: 713px;
	
	background-color: #bde4e8;
	
	position: relative;
	margin-top: 140px;
	
}

.spText {
	
	position: absolute;
	
}

.carabiner {
	
	width: 700px;
	height: 700px;
	
	position: absolute;
	
	margin-top: -750px;
	margin-left: 50px;
	
}

.spHead1 {
	
	font-family: 'Avenir Next Condensed';
	font-size: 170px;
	font-weight: normal bold;
	color: #ffffff;
	
	position: absolute;
	text-align: center;
	
	margin-top: -625px;
	margin-left: 950px;
	
}

.spHead2 {
	
	font-family: 'Avenir Next Condensed';
	font-size: 170px;
	font-weight: normal bold;
	color: #ffffff;
	
	position: absolute;
	text-align: center;
	
	margin-top: -450px;
	margin-left: 700px;
	
}

.spSub {
	
	font-family: 'Great Sejagad';
	font-size: 130px;
	color: #1a134a;
	
	position: absolute;
	text-align: center;
	
	margin-top: -250px;
	margin-left: 1000px;
	
}

.thirdPanel {
	
	width: 1920px;
	height: 1002px;
	
}

.shelf {
	
	width: 776px;
	height: 1002px;
	
}

.find {
	
	font-family: 'Great Sejagad';
	font-size: 200px;
	font-weight: lighter;
	color: #1a134a;
	
	margin-top: -925px;
	margin-left: 850px;
	
}

.city {
	
	font-family: 'Avenir Next Condensed';
	font-size: 120px;
	font-weight: normal;
	color: #f47937;
	
	margin-top: -200px;
	margin-left: 850px;
	
}

.typeBox {
	
	width: 968px;
	height: 125px;
	border: 2px solid #1a134a;
	
	margin-top: -120px;
	margin-left: 850px;
	
}

.typeCity {
	
	font-family: 'Avenir Next Condensed';
	font-size: 100px;
	font-weight: lighter;
	font-style: italic; 
	color: #f47937;
	
	margin-top: -10px;
	margin-left: 10px;
	
}

.go {
	
	font-family: 'Great Sejagad';
	font-size: 175px;
	font-weight: lighter;
	color: #1a134a;
	
	margin-top: 70px;
	margin-left: 1150px;
	
}

*/

/*.footer {
	
	margin: 0 auto;
	width: 1920px;
	height: 137px;
	background-color: #fdb94b;
	
	justify-content: center;
	align-items: baseline;
}

.copyright {
	
	font-family: 'Avenir Next Condensed';
	font-size: 50px;
	font-weight: lighter;
	color: #1a134a;
	
	
	margin-top: 30px;
	text-align: center;
	
	
}*/



